*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo img{
    display: block;
    width:250px;
    margin:auto;
    padding-bottom: 20px;
}
body{
  margin:0px;
  padding: 0px;
}

h1{ 
font-family:'Times New Roman', Times, serif;
 text-align: center;
 font-weight:lighter;
 font-size: 50px;
}
main{
 margin: 20px;
}

.navbar{
    display: flex;
    border: 5px;
    border-style:ridge;
    box-shadow: 3px 3px 5px;
    justify-content: space-evenly;
    height:75px;
    background-color: darkslategray;
}
.navbar ul{
    list-style-type: none;
    position: absolute;
}

.navbar li{
    float: left;
    text-align:justify;
    font-size: 20px;
    border-bottom: 0px;
    border-left:5px;
    border-right:5px;
    border-top:0px;
    border-style:ridge;
    box-shadow: 3px 0px 5px;
}
.navbar a{
    font-weight: bold;
    color:white;
    width: 150px;
    text-decoration: none;
    text-align: center;
    line-height: 10px;
    padding: 20px;
    display: block;
}

.navbar li:hover{
    background-color:rgb(18, 63, 63);
}

 #dropdown{
    padding:0px;
    border: 5px;
    border-style:ridge;
    box-shadow: 3px 3px 5px;
    background-color: darkslategray;
    position: absolute;
    display:none;
   text-wrap:stable;
    float: none;
 }
#dropdown a{
    line-height:20px;
}
 li:hover #dropdown{
    display: block;
    float: none;
}
#null{
    pointer-events:none; }

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: lighter;
    font-size: 50px;
}

main {
    margin: 20px;
}

/* CSS for the paragraphs */
main {
    margin: 20px;
    text-align: justify;
    line-height: 1.6;
}

p {
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.obgyn-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.specialties-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.obgyn-info h2,
.specialties-info h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #333;
    margin-top: 1px;
}


.obgyn-info p,
.specialties-info p {
    font-size: 16px;
    color: #666;
}

@media (max-width: 768px) {

    .obgyn-info h2,
    .specialties-info h2 {
        font-size: 18px;
    }

    .obgyn-info p,
    .specialties-info p {
        font-size: 14px;
    }
}
  .fa {
      padding: 1px;
      font-size: 20px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
      background: #3b5998;
      color: white;
  }

  .fa-twitter {
      background: #55acee;
      color: white;
  }

  .fa-google {
      background: #dd4b39;
      color: white;
  }

  .fa-linkedin {
      background: #007bb5;
      color: white;
  }

  .fa-youtube {
      background: #bb0000;
      color: white;
  }

  .fa-instagram {
      background: #125688;
      color: white;
  }

  .fa-pinterest {
      background: #cb2027;
      color: white;
  }

  .fa-snapchat-ghost {
      background: #fffc00;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .fa-skype {
      background: #00aff0;
      color: white;
  }

  .fa-android {
      background: #a4c639;
      color: white;
  }

  .fa-dribbble {
      background: #ea4c89;
      color: white;
  }

  .fa-vimeo {
      background: #45bbff;
      color: white;
  }

  .fa-tumblr {
      background: #2c4762;
      color: white;
  }

  .fa-vine {
      background: #00b489;
      color: white;
  }

  .fa-foursquare {
      background: #45bbff;
      color: white;
  }

  .fa-stumbleupon {
      background: #eb4924;
      color: white;
  }

  .fa-flickr {
      background: #f40083;
      color: white;
  }

  .fa-yahoo {
      background: #430297;
      color: white;
  }

  .fa-soundcloud {
      background: #ff5500;
      color: white;
  }

  .fa-reddit {
      background: #ff5700;
      color: white;
  }

  .fa-rss {
      background: #ff6600;
      color: white;
  }

